pipeline/pl_sqldwh_sales_child_load.json
{
	"name": "pl_sqldwh_sales_child_load",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sqldwh_onprem_getmetadata",
						"type": "DatasetReference",
						"parameters": {
							"source_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"created",
						"exists",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "OnpremToAdlsgen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sqldwh_onprem_file_binary_src",
									"type": "DatasetReference",
									"parameters": {
										"source_folder": {
											"value": "@pipeline().parameters.source_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqldwh_azure_adlsgen2_file_binary_tgt",
									"type": "DatasetReference",
									"parameters": {
										"target_folder": {
											"value": "@pipeline().parameters.source_folder",
											"type": "Expression"
										},
										"target_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Adlsgen2ToStgtable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "OnpremToAdlsgen2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "truncate table dbo.@{pipeline().parameters.stg_table}",
										"type": "Expression"
									},
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_azure_adlsgen2_tgt_conn",
											"type": "LinkedServiceReference"
										},
										"path": "datalake/SH/logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqldwh_azure_adlsgen2_csv_src",
									"type": "DatasetReference",
									"parameters": {
										"source_folder": {
											"value": "@pipeline().parameters.source_folder",
											"type": "Expression"
										},
										"source_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqldwh_stg_table_tgt",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "dbo",
										"table_name": {
											"value": "@pipeline().parameters.stg_table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Storedprocedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.proc_name",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldwh",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"id": {
				"type": "string"
			},
			"job_name": {
				"type": "string"
			},
			"stg_table": {
				"type": "string"
			},
			"target_table": {
				"type": "string"
			},
			"proc_name": {
				"type": "string"
			},
			"source_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "sqldwh_sales"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-25T02:21:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}